<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br> pensamento novo:</h2>
  </header>
  <form>
    <label for="thought">Pensamento</label>
    <input
      type="text"
      class="input"
      id="thought"
      name="thought"
      [(ngModel)]="thought.content"
      placeholder="Digite o pensamento..."
    >
    <label for="author">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="author"
      name="author"
      [(ngModel)]="thought.author"
      placeholder="Digite a autoria ou fonte"
    >
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            name="modelo-card"
            [(ngModel)]="thought.model"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ thought.content }}</p>
          <p class="autoria"><b>{{ thought.author }}</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            [(ngModel)]="thought.model"
            name="modelo-card"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo"> {{ thought.content }}</p>
          <p class="autoria"><b>{{ thought.author }}</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            [(ngModel)]="thought.model"
            name="modelo-card"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
          Prévia:
          <div class="modelo modelo3 ff-roboto-mono">
            <img src="../../../../assets/modelo3.png" alt="Aspas verdes">
            <p class="conteudo">{{ thought.content }}</p>
            <p class="autoria"><b>{{ thought.author }}</b></p>
          </div>
      </div>
    </div>
    <div class="acoes">
      <button class="botao" (click)="createThought()">Salvar</button>
      <button class="botao" (click)="cancelThought()">Cancelar</button>
    </div>
  </form>
</section>
